#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: grid;
  grid-gap: 0.25em;
  grid-template-areas: 'nav' 'header' 'main' 'footer';
  /* margin: 0;
  padding: 0; */
}

@media (min-width: 40em) {
  #root {
    grid-template-areas:
      'header header'
      'nav main'
      'footer footer';
    grid-template-rows: auto 1fr auto
  }

}

/* 

Ref https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids

*/

header {
  grid-area: header
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 Ref: https://developers.google.com/maps/documentation/javascript/overview#maps_map_simple-css
 */

#map {
  min-height: 50vh;
}

section {
  background-color: lightpink;
}

body {
  text-align: center;
  font-size: 1em;
  color: darkslateblue;
  background-color: antiquewhite;
}

a {
  color: darkorchid;
}